## Lists

In [1]:
# name value pairs like Python dictionary

In [2]:
# List allwos for different datatypes, character, numeric and logical
# Can have list of lists for database.

In [3]:
# vector would coerce evertying into same datum type

In [4]:
j = list(name="joe", salary=55000, union=T)

In [5]:
j

$name
[1] "joe"

$salary
[1] 55000

$union
[1] TRUE

In [6]:
# component names are called tags

In [7]:
j$sal # can abbreviate to whatever extent is possible without causing ambiguity

[1] 55000

j$name

In [8]:
j$name; j$union

[1] "joe"

[1] TRUE

In [9]:
j$s

[1] 55000

In [10]:
jalt = list("joe", 55000, T)

In [11]:
jalt

[[1]]
[1] "joe"

[[2]]
[1] 55000

[[3]]
[1] TRUE

In [12]:
jalt[1]; jalt[2]; jalt[3];

[[1]]
[1] "joe"

[[1]]
[1] 55000

[[1]]
[1] TRUE

In [13]:
z = vector(mode="list")

In [14]:
z

list()

In [15]:
z[["abc"]] = 3; # notice double bracket operator

In [16]:
z

$abc
[1] 3

In [17]:
j$salary

[1] 55000

In [18]:
j[["salary"]]

[1] 55000

In [19]:
j[[2]]

[1] 55000

In [20]:
#named access, double-bracket access with name, double-bracket access with index

In [21]:
j[1:2]

$name
[1] "joe"

$salary
[1] 55000

In [22]:
j[1:3]

$name
[1] "joe"

$salary
[1] 55000

$union
[1] TRUE

In [23]:
j2 = j[2]

In [24]:
j2

$salary
[1] 55000

In [25]:
class(j2)

[1] "list"

In [26]:
str(j2) # tells you what kind of 'structure'

List of 1
 $ salary: num 55000

In [27]:
# note the difference bewtween single and double bracket indexiting

In [28]:
z = list(a="abc", b=12)

In [29]:
z

$a
[1] "abc"

$b
[1] 12

In [30]:
z$c = "sailing"

In [31]:
z[[4]] = 28 # make a note of this and send to Dr. Yang topic, naming after the fact.

In [32]:
z[5:7] = c(F,T,T)

In [33]:
z

$a
[1] "abc"

$b
[1] 12

$c
[1] "sailing"

[[4]]
[1] 28

[[5]]
[1] FALSE

[[6]]
[1] TRUE

[[7]]
[1] TRUE

In [34]:
z$d = 28

In [35]:
z

$a
[1] "abc"

$b
[1] 12

$c
[1] "sailing"

[[4]]
[1] 28

[[5]]
[1] FALSE

[[6]]
[1] TRUE

[[7]]
[1] TRUE

$d
[1] 28

In [36]:
# delete by setting to NULL

In [37]:
z$b = NULL

In [38]:
z

$a
[1] "abc"

$c
[1] "sailing"

[[3]]
[1] 28

[[4]]
[1] FALSE

[[5]]
[1] TRUE

[[6]]
[1] TRUE

$d
[1] 28

In [39]:
c(list("Joe", 55000, T),list(5)) # c works with lists as well as vectors

[[1]]
[1] "Joe"

[[2]]
[1] 55000

[[3]]
[1] TRUE

[[4]]
[1] 5

In [40]:
j

$name
[1] "joe"

$salary
[1] 55000

$union
[1] TRUE

In [41]:
length(j) ; # gives number of name value pairs in the list

[1] 3

In [42]:
names(j)

[1] "name"   "salary" "union"

In [43]:
ulj = unlist(j)

In [44]:
ulj

   name  salary   union
  "joe" "55000"  "TRUE"

In [45]:
class(ulj)

[1] "character"

In [46]:
ulj[1]

 name
"joe"

In [47]:
ulj[2]

 salary
"55000"

In [48]:
z = list(a=5,b=12,c=13)

In [49]:
y = unlist(z)

In [50]:
class (z); class(y)

[1] "list"

[1] "numeric"

In [51]:
y

 a  b  c
 5 12 13

In [52]:
z

$a
[1] 5

$b
[1] 12

$c
[1] 13

In [53]:
w = list(a=5,b="xyz")

In [54]:
wu = unlist(w)

In [55]:
class(wu)

[1] "character"

In [56]:
w

$a
[1] 5

$b
[1] "xyz"

In [57]:
wu

    a     b
  "5" "xyz"

In [58]:
wu[1]; wu[2]

  a
"5"

    b
"xyz"

In [59]:
# vectos coerced to highest type in NULL < raw < logical < integer < real < complex < character < list

In [60]:
# watch types when applying the unlist operator

In [61]:
names(wu)

[1] "a" "b"

In [62]:
names(wu)

[1] "a" "b"

In [63]:
names(wu) = c("d", "e")

In [64]:
wu

    d     e
  "5" "xyz"

In [65]:
names(wu[1])= ("f")

In [66]:
wu

    d     e
  "5" "xyz"

In [67]:
wun = unname(wu)

In [68]:
wun

[1] "5"   "xyz"

In [69]:
class(wun)

[1] "character"

In [70]:
is.vector(wun)

[1] TRUE

In [71]:
w = list(a=5, b="xyz")

In [72]:
wu = unlist(w)

In [73]:
wn = unname(w)

In [74]:
wu

    a     b
  "5" "xyz"

In [75]:
is.list(wu)

[1] FALSE

In [76]:
is.vector(wu)

[1] TRUE

In [77]:
is.list(wn)

[1] TRUE

In [78]:
is.vector(wn)

[1] TRUE

In [79]:
# list apply, applies a function to a list

In [80]:
foo = lapply(list(1:3, 25:29), median)

In [81]:
is.list(foo); is.vector(foo)

[1] TRUE

[1] TRUE

In [82]:
L = list(1:3,25:29)

In [83]:
L

[[1]]
[1] 1 2 3

[[2]]
[1] 25 26 27 28 29

In [84]:
S = sapply(list(1:3,25:29), median)

In [85]:
S

[1]  2 27

In [86]:
#use unlist on lapply to get sapply result

In [87]:
g = c("M", "F", "F", "I", "M", "M", "F")

In [88]:
g

[1] "M" "F" "F" "I" "M" "M" "F"

In [89]:
lapply(c("M","F","I"), function(gender) which(g==gender))

[[1]]
[1] 1 5 6

[[2]]
[1] 2 3 7

[[3]]
[1] 4

In [90]:
#

In [91]:
# read data from file
# store in R object
# do your processing/ analysis